body {
    margin: 0;
    font-size: 1rem;
}

img {
    width: 100%;
    height: auto;
}

h2 {
    padding-left: 2rem;
}

h3 {
    border-bottom: 3px solid yellow;
}

.card {
    border: 2px solid black;
    background: green;
    width: 50%;
    margin: 10px;
    text-align: center;
}

.about {
    display: flex;
}

.information {
    border: 2px solid black;
    padding: 10px;
    width: 50%;
}
.image {
    width: 50%;
}